/*  Custom CSS for Ticketr
    Author: Mark Barrett
    Version: 1.0
    Date: 31/01/2018
 */
.home_background {
    background-image: url('https://hdqwalls.com/wallpapers/triangles-colorful-background-nz.jpg');
    background-size: 100%;
    padding-top: 8%;
    padding-bottom: 10%;
    position: absolute;
    width: 100%
}

.small_background {
    background-image: url('https://hdqwalls.com/wallpapers/triangles-colorful-background-nz.jpg');
    background-size: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    position: absolute;
    width: 100%
}

.asteriskField {
    display: none;
}

.small_background_container {
    margin-top: 6%;
}

.event_image {
    border-radius: 5px;
    margin-top: 3.5%
}

.event_background {
    padding-top: 8%;
    padding-bottom: 15%;
    position: absolute;
    width: 100%
}

.event_info {
    position: absolute;
    bottom: 0;
    width: 95%
}

.event_display {

}

.search_event {
    padding-top: 15%;
}

.more_padding {
    padding: 2%;
}

.login {
    padding-top: 15%;
}