{% extends "base.html" %}

{% block title %}Ticketr - Ticket Sales Platform for Event Owners and Event Goers{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="login">
            <div class="text-center">
                <img src="/static/images/logo.png" width="50%">
                <hr/>
            </div>

            <div class="card">
                <div class="card-header bg-dark text-white">
                    <div class="text-center">Sign In</div>
                </div>
                <div class="card-body">
                    <form name="login" action="" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                            <div class="float-right" style="padding-top: 2%; padding-bottom: 2%"><a href="{% url 'forgot-password' %}">Forgot Password?</a></div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                    </form>
                </div>
            </div>

            <br/>

            <div class="card">
                <div class="card-body">
                    <div class="text-center">Don't have an account? <a href="{% url 'sign-up' %}">Create one now</a>.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

{% endblock content %}