{% extends "base.html" %}

{% block title %}Ticketr - My Events{% endblock %}

{% block content %}

{% include 'menu.html' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} text-center" style="margin-bottom: 0px" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="small_background">
    <div class="container text-white">
        <h2>My Events</h2>
    </div>
</div>
<div class="container small_background_container">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Events"/>
            </div>
            {% if events %}
                <div class="row">
                    {% for event in events %}
                        <div class="col-md-6">
                            <div class="card border-dark">
                                <div class="card-body text-dark">
                                    <h4 class="card-title">{{ event.title }}</h4>
                                    <hr/>
                                    <h4><a href=""><span class="badge badge-dark">{{ event.organiser.name }}</span></a></h4>
                                    <p>{{ event.start_date }} {{ event.start_time }}</p>
                                    <a href="/event/manage/{{event.id}}" class="btn btn-dark"><i class="fa fa-cog"></i> Manage</a>&nbsp; <a href="" class="btn btn-dark"><i class="fa fa-pencil"></i> Edit</a>&nbsp; <a href="/event/{{ event.id }}" class="btn btn-dark"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>You do not have any events yet :(</p>
            {% endif %}
        </div>
    </div>
    <br/><br/>
</div>

{% endblock content %}