{% extends "base.html" %}

{% block title %}Ticketr - Manage Tickets{% endblock %}

{% block content %}

{% include 'menu.html' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} text-center" style="margin-bottom: 0px" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="small_background">
    <div class="container text-white">
        <h2>
            Order
        </h2>
    </div>
</div>
<div class="container small_background_container">
    <div style="margin-top: 100px">
        <div class="row">
            <div class="col-md-7 py-2">
                <div class="h-100">
                    <h1>{{ event.title }}</h1>
                    <p>{{ event.start_date }} @ {{ event.start_time }} - {{ event.end_date }} @ {{ event.end_time }}<br/>
                        {{ event.location }}</p>

                    <div style="bottom: 0">
                        <div class="alert alert-warning"><h6>Your held tickets will be released to the public in <span id="time">10:00</span> <small>minutes</small></h6></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 py-2">
                <div class="h-100">
                    <img src="/{{event.image}}" width="100%" style="border-radius: 5px; margin-top: -50px; bottom: 0"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Your Order</div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Fee</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Sub Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in ticket_list %}
                            <tr>
                                <td>{{ ticket.ticket.name}}</td>
                                <td>{{ ticket.ticket.price }}</td>
                                <td>&euro;{{ ticket.fees }}</td>
                                <td>{{ ticket.quantity }}</td>
                                <td>&euro;{{ ticket.sub_total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right">
                        <strong>Total: &euro;{{total}}</strong>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    Your Details
                </div>
                <div class="card-body">
                    {% if request.user.is_authenticated %}
                        <p>Hey {{ request.user.first_name }}, you are logged in and your tickets will be linked to {{ request.user.email }}. <br/>Not you? <a href="/account/sign-out">Sign Out</a></p>

                        <form name="order-tickets" action="/confirm-order" method="POST">

                            {# Details to be sent to the confirm order page to construct the orders #}
                            <input type="hidden" name="register" value="no">

                            {% for ticket in ticket_list %}
                            <input type="hidden" value="{{ticket.ticket.id}}" name="ticket_ids">
                            <input type="hidden" value="{{ticket.quantity}}" name="ticket_quantities">
                            {% endfor %}

                            <input type="hidden" value="{{total}}" name="total">

                            {% csrf_token %}
                            <button class="btn btn-success btn-block" type="submit">Purchase with PayPal</button>

                        </form>
                    {% else %}
                        <p>You need an account to receive tickets with Ticketr. Don't worry, one will be setup for you after purchase.</p>
                        <form name="order-tickets" action="/confirm-order" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name:</label>
                                        <input id="first_name" name="first_name" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name:</label>
                                        <input id="last_name" name="last_name" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input id="email" name="email" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input id="password" name="password" type="password" class="form-control">
                            </div>

                            {# Details to be sent to the confirm order page to construct the orders #}
                            <input type="hidden" name="register" value="yes">

                            {% for ticket in ticket_list %}
                            <input type="hidden" value="{{ticket.ticket.id}}" name="ticket_ids">
                            <input type="hidden" value="{{ticket.quantity}}" name="ticket_quantities">
                            {% endfor %}

                            <input type="hidden" value="{{total}}" name="total">

                            {% csrf_token %}
                            <button class="btn btn-success btn-block" type="submit">Register &amp; Purchase with PayPal</button>

                        </form>
                    {% endif %}
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Organiser</div>
                <div class="card-body">
                    <div class="float-right">
                        <h3>{{event.organiser.name}}</h3>
                        <hr/>
                        <a href="#" class="btn btn-dark">Profile</a> <a href="#" class="btn btn-dark">Contact</a>
                    </div>
                    <img src="/{{event.organiser.image}}" height="120px" style="border-radius: 5px;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;
            if (--timer < 0) {
                window.location="/ticket-timeout/{{ token }}";
            }
        }, 1000);
    }
    window.onload = function () {
        var fiveMinutes = 60 * 10,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
    window.addEventListener("beforeunload", function (e) {
        $.ajax({
            url: '/ticket-timeout/{{ token }}',
            type: 'GET',
            async: false,
            timeout: 4000
        });
    });
</script>


{% endblock content %}