{% extends "base.html" %}

{% block title %}Ticketr - Event{% endblock %}

{% block content %}

{% include 'menu.html' %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" style="margin-bottom: 0px" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if event.organiser.user == request.user %}
<div class="card text-white bg-success" style="border-radius: 0px; margin-bottom: 0">
    <div class="card-body" style="padding: 10px;">
        <div class="container">
            <p class="card-text">This is one of your events.</p>
        </div>
    </div>
</div>
{% endif %}

<div class="event_background" style="margin-top: 0px; background: {{ event.background_colour }};">
</div>

<div class="event_display">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <div class="card event_info">
                <div class="card-body">
                    <h2>{{event.title}}</h2>
                    <p>By: <a href="/event/organisers-profile/{{event.organiser.id}}">{{event.organiser.name}}</a></p>

                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">
                        {% if free_event is True %}Register{% else %}Get Tickets{% endif %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="event_image">
                <img src="/{{event.image}}" style="border-radius: 5px;" width="100%"/>
            </div>
        </div>

        <div class="col-md-1">

        </div>
    </div>
</div>




    <br/>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Date and Time:</strong>
                            <p>{{event.start_date}} @ {{event.start_time}} <br/> to {{event.end_date}} @ {{event.end_time}}</p>
                        </div>
                        <div class="col-md-4">
                            <strong>Location:</strong>
                            <p>{{event.location}}</p>
                        </div>
                        <div class="col-md-4">
                            <strong>Share:</strong>
                            <h3><i class="fa fa-facebook-f"></i> &nbsp; <i class="fa fa-twitter"></i> &nbsp; <i class="fa fa-envelope"></i></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 py-2">
                    <div class="card h-100">
                        <div class="card-header">
                            Description
                        </div>
                        <div class="card-body">
                            <p>{{event.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-2">
                    <div class="card h-100">
                        <div class="card-header">
                            Organiser
                        </div>
                        <div class="card-body">
                            <div class="float-right">
                                <h3>{{event.organiser.name}}</h3>
                                <hr/>
                                <a href="/event/organisers-profile/{{event.organiser.id}}" class="btn btn-dark">Profile</a> <a href="#" class="btn btn-dark">Contact</a>
                            </div>
                            <img src="/{{event.organiser.image}}" height="120px" style="border-radius: 5px;"/>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div class="text-center">
                <h3>Other Events by {{event.organiser.name}}</h3>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>



<!-- Ticket Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% if free_event is True %}Register{% else %}Select Tickets{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if event.allow_resell == 'Y' %}
                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">From Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">From Resellers</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form name="tickets" action="/order/" method="post">
                            {% for ticket in tickets %}
                            <div class="card border-white bg-light" style="padding-left: 35px; padding-right: 35px;">
                                <div class="card-body">
                                    <div class="float-right">
                                        <div class="form-group">
                                            <input name="tickets" value="{{ticket.id}}" type="hidden">
                                            <select name="quantities" class="form-control">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h3>{{ ticket.name }}<br/>
                                        <small>{% if free_event is not True %}&euro;{{ticket.price}}{% endif %}</small></h3>
                                </div>
                            </div>
                            <br/>
                            {% endfor %}
                            <input type="hidden" value="{{ event.id }}" name="event">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-block btn-success">Checkout</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                </div>
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}